.login-form {
  width: 450px;
  margin: auto;

  /* background-color: black;*/
  color: whitesmoke;

  background-image: url("../img/bg2.png");

  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.div-bg {
  /* background: #f79d00;  
    background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  
    background: linear-gradient(to right, #64f38c, #f79d00);
     */
/* 
  background: #ff4b1f; 
  background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);
  background: linear-gradient(to right, #1fddff, #ff4b1f); */

  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.divHome-bg {
  background-color: #ffe4e1;
  color: black;
}

.form-control:focus {
  border-color: #ffffff;
}
.btn {
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 600;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 15px;
  padding-top: 10px;
  color: #ffffff;
  margin: 0;
  font-weight: 700;
}

.forgot-password a {
  color: #000000;
}
